.banner{
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ), url("../img/banner_bg.png");
        background-size: cover;
        background-position: top; 

        color: white;
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none;
            border-bottom: 1px solid #BABBC5;
            position: relative;
            .header__logo{
            }
            .menu{
                .menu__list{
                    display: flex;
                    align-items: center;
                    .menu__item{
                        a{
                            font-weight: 700;
                            font-size: 13px;
                            line-height: 15px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-transform: uppercase;
                            padding: 40px 10px 40px;
                            background-color: transparent;
                            border: 3px solid transparent;
                            color: white;
                            width: 134px;
                                &:hover {
                                    border-bottom: 3px solid #BABBC5;;
                                }
                        }
                    }
                }
            }
        }

        .banner__content{
            padding: 0 75px;
            padding-top: 130px;
            margin: 0 auto;
            @media (max-width:1200px){
                width: 984px;
                padding: 158px 111px 0;
            }
            p{
                font-size: 24px;
                line-height: 28px; 
                margin-top: 31px;
                @media (max-width:1200px) {
                    font-size: 18px;
                    line-height: 21px;
                    margin-top: 62px;
                }
            }
            .banner__btn{
                display: flex;
                justify-content: center;
                padding: 82px 0 120px;
                @media (max-width:1200px){
                    padding: 91px 0 126px;
                }
                @include mixin_red__btn;
            }
        }
}


@media (max-width:1200px){
    .menu__item{
        a{
            font-size: 12px;
            line-height: 14px;

        }
    }
    .red__btn{
        width: 313px;
    }

}