.banner{
        background: url("../img/banner_bg.png") center/cover no-repeat;
        color: white;
        @media (max-width:1200px) {
            background: url("../img/bg.png") center/cover no-repeat;
        }
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none;
            border-bottom: 1px solid #BABBC5;
            position: relative;
            @media (max-width:768px){
                border: none;
                padding: 21px 0;
            }

            &__logo{
                img{
                    display: block;
                    width: 187px;
                    @media (max-width:768px) {
                        width: 102px;
                        height: 14px;
                    }
                }
            }

            .nav{
                @media (max-width:768px) {
                    display: none;
                }
                &__list{
                    display: flex;
                    align-items: center;
                    .nav__item{
                        a{
                            font-weight: 700;
                            font-size: 13px;
                            line-height: 15px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-transform: uppercase;
                            padding: 40px 10px 40px;
                            background-color: transparent;
                            border: 3px solid transparent;
                            color: white;
                            width: 134px;
                                &:hover {
                                    border-bottom: 3px solid #BABBC5;;
                                }
                        @media (max-width:1200px) {
                            width: 112px;
                            
                        }
                        }
                    }
                }
            }
        }

        .banner__content{
/*             display: flex;
            flex-direction: column;
            justify-content: center; */
            padding: 0 75px;
            margin: 130px auto 0;
            @media (max-width:1200px){
                width: 100%;
                padding: 0 20px;
                margin-top: 158px;
            }
            @media (max-width:768px){
                width: 100%;
                padding: 0;
                margin-top: 50px;
            }
            p{
                font-size: 24px;
                line-height: 28px; 
                margin-top: 31px;
                @media (max-width:1200px) {
                    font-size: 18px;
                    line-height: 21px;
                    margin-top: 62px;
                }
                @media (max-width:768px){
                    font-size: 14px;
                    line-height: 16px;
                    margin-top: 33px;
                    padding: 0 15px;
                }
            }
            .banner__btn{
                display: flex;
                justify-content: center;
                padding: 82px 0 120px;
                @media (max-width:1200px){
                    padding: 91px 0 126px;
                }
                @media (max-width:768px){
                    padding: 51px 0 52px;
                }
                @include mixin_red__btn;
            }
        }
}


@media (max-width:1200px){
    .menu__item{
        a{
            font-size: 12px;
            line-height: 14px;

        }
    }
    .red__btn{
        width: 313px;
    }

}