.download{
    margin-top: 114px;
    @media (max-width:1200px){
        margin-top: 77px;
    }
        &__title{
            font-weight: 500;
            font-size: 30px;
            line-height: 35px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            color: #000000;
            padding: 18px 0;
            @media (max-width:1200px){
                padding: 12px 0;
            }
        }
        
        &__text{
            margin-top: 5px;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            text-transform: uppercase;
            color: #000000;
            @media (max-width:1200px) {
                font-size: 14px;
                line-height: 16px;
            }
        }
}

.download__btn{
    display: flex;
    justify-content: center;
    margin: 50px 0 114px;
    @media (max-width:1200px){
        margin: 45px 0 78px; 
    }
    @include mixin_red__btn;

    
}
