.features__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    margin-top: 116px;
    .features__card{
        display: block;
        img{
            display: block;
            margin: 0 auto;
        }
        h3{
            justify-content:  center;
            padding: 22px 0;
            margin-top: 40;
        }
        p{
            margin: 10px 0;
        }
    }
}


