.features__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 29px;
    margin-top: 116px;
    @media (max-width:1200px){
        width: 984px;
        grid-gap: 20px;
    }
    .features__card{
        display: block;
        img{
            display: block;
            margin: 0 auto;
        }
        h3{
            justify-content:  center;
            padding: 22px 0;
            margin-top: 40;
            @media (max-width:1200px){
                padding: 19px 0;
                margin-top: 34;
            }
        }
        p{
            margin: 10px 0;
            color: #6C7279;
        }
    }
}


