.features__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 29px;
    margin-top: 27px;
    @media (max-width:1200px){
        width: 984px;
        grid-gap: 20px;
        margin-top: 30px; //+57у карточки
        justify-content: center;
        justify-items: center;
    }
    .features__card{
        display: block;
        margin-top: 100px;
        @media (max-width:1200px){
            margin-top: 57px;
        }
        &__image{
            width: 85px;
            height: 90px;
            margin: 0 auto;
            img{
                display: block;
                margin: 0 auto;
            }
        }

        h3{
            justify-content:  center;
            margin-top: 40px;
            padding: 22px 0;
            @media (max-width:1200px){
                margin-top: 44px;
                padding: 20px 0;
            }
        }
        p{
            color: #6C7279;
            margin-top: 20px;
            @media (max-width:1200px) {
                margin-top: 4px;
                
            }
        }
    }
}


