@mixin mixin_red__btn{
    .red__btn{
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #FF4343;;
        width: 370px;
        padding: 25px 0;
        @media (max-width:1200px) {
            width: 313px;
        }
        @media (max-width:768px) {
            padding: 19px 0;
            font-size: 18px;
            line-height: 21px;
        }
        &:hover{
            background: #E71414;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        &:active{
            background: #FF4343;
            box-shadow: 4px 4px 30px #FF4343;
        }
    }
}