*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
}

h1{

    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    @media (max-width:1200px){
            font-size: 48px;
            line-height: 56px;
    }
}
h3{
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #2D3033;
    @media (max-width:1200px) {
        font-size: 18px;
        line-height: 21px;
    }
}

h4{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #2D3033;
    @media (max-width:1200px){
        font-size: 18px;
        line-height: 21px;
    }
}

p{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    @media (max-width:1200px){
        font-size: 14px;
        line-height: 16px;
    }
}

.wrapper{
    max-width: 1170px;
    margin: 0 auto;
}

@import 'banner';
@import 'header';
@import 'features';
@import 'work';
@import 'team';
@import 'testimonials'
