.team{
    margin-top: 114px;
    @media (max-width:1200px) {
        margin-top: 78px;
        
    }
    &__content{
        display: flex;
        justify-content: space-between;
        .team__card{
            width: 270px;
            @media (max-width:1200px) {
                width: 227px;
                
            }
            &__img{
                display: block;
                margin: 0 auto;
                max-width: 270px;
                img{
                    display: block;
                    width: 100%;
                    object-fit: cover;
                    max-width: 270px;
                    max-height: 270px;
                    @media (max-width:1200px) {
                        max-width: 227px;
                        max-height: 227px;
                    }
                }
            }

            h4{
                justify-content:  flex-start;
                text-transform: capitalize;
                margin-top: 30;
                font-weight: 700;
                padding: 1px 0;
                @media (max-width:1200px) {
                    margin-top: 25px;
                    padding: 2px 0;
                }
            }

            &__position{
                margin-top: 5px;
                text-transform: uppercase;
                color: #FF4343; 
            }
            p:last-of-type{
                text-align: left;
                color: #6C7279;
                margin-top: 18px;
                @media (max-width:1200px) {
                    margin-top: 22px;
                }
            }
            &__link{
                margin-top: 37px;
                @media (max-width:1200px){
                    margin-top: 39px;
                }
                &__item svg{
                    width: 39px;
                    height: 39px;
                    margin: 0 3px;
                    @media (max-width:1200px){

                        width: 32px;
                        height: 32px;
                        margin: 0 2px;
                    }
                }
            }
        }
    }
}



