.team__content{
    margin-top: 100px;
    .team__card{
        width: 270px;
        .team__card__img{
            display: block;
            margin: 0 auto;
            max-width: 270px;
        }
        h3{
            justify-content:  flex-start;
            text-transform: capitalize;
            margin-top: 30;
            font-weight: 700;
        }
        .team__card__position{
            
        }
        p{
            margin: 10px 0;
            text-align: left;
        }
    }
}
