*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }

    /* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 60px;
    left: -100%;
    width: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #000000;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 4;
}

html{
    font-size: 10px;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 5.6rem;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 70px 0px 70px;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 4.2rem;
    text-transform: uppercase; 
    padding : 70px 0 80px 0;
    position: relative;
}

h4{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.3rem;

    align-items: center;
    text-transform: capitalize;
    color: #333333;
}


.header__content{
    background: #000000;
    position: relative;
}
.header__content .wrapper{
    display: flex;
    justify-content: space-between;
}

.header__logo{
    margin: 20px 0px 20px -40px;
}

.navigation-list{
    display: flex;
    padding-right: 40px;
}

.navigation-list__item{
    margin-left: 65px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.9rem;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
}

.navigation-list__item a{
    color: white;
}

.wrapper{
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
}

.banner__logo{
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
    ),
    url("../img/banner_bg.png"); 
}

.banner__wrapper{
    position: relative;
    color: #fff; 
    padding-top: 20%;
    display: flex;
}

.banner__content{
/*     width: 670px; */
    width: 57.265%;
    display: inline-block;
    position: relative;
}

.banner__content__info{
/*     width: 270px; */
    width: 40.3%;
}

.banner__content__description{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 40px 0 10px;
    position: relative;
}

.banner__content__description::before{
    position: absolute;
    content: "";
    width: 170px;
    height: 1px;
    background-color: white;
    top: 10px;
}


.banner__right{
    width: 40.17%;
    background: #FFFFFF;
    border-radius: 10px;
/*     margin: 0 auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.banner__free{
    display: block;
    font-family: 'Open Sans' ,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.3rem;
    text-transform: uppercase;
    color: #333333;
    align-items: center;
    text-align: center;
    padding: 25px 0;
}

.banner__free span{
    color:#EC7979;
}

.banner__form__input{
    width: 80%;
    margin: 0 auto;
}

textarea{
    height: 100%;
}

.form__input{
    width: 100%;
    padding: 3px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: #BDBDBD;
    padding: 6px;
    resize: none;
    outline: none;
    border: none;   
    border-bottom: 1px solid #BDBDBD;
    padding: 40px 0 10px 0;
}


.banner__download{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    justify-content: center;
    padding: 10px 80px;
    background: transparent;
    margin-top: 50px;
}

.banner__download:hover{
    color: #EC7979;
    border: 2px solid #EC7979;
}

.banner__download:active{
    color: white;
    background: #AB4949;
    border: 2px solid #AB4949;
}
    
.banner__download-red{
    background: #EC7979;
    margin: 55px auto;
}

.banner__download-red:hover{
    background: white;
}

.banner__download-red:active{
    color: #AB4949;
    background: white;
    border: 2px solid #AB4949;
}
.red_button {
    background: #EC7979; 
    color: #fff; 
    padding: 20px;
/*  */    text-decoration: none; 
    width: 270px;
    width: 47.8260%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    overflow: hidden;
    border: none;
}

.red_button:hover{
    background: #AB4949; 
}
.red_button:active{
    background: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

.red_button-banner{
    width: 100%;
    margin-top: 50px;
    border: none;
    vertical-align: bottom;
}

.social__content{
    background: #F8EFEF;
}

.social__content .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__info{
/*     width: 470px; */
    width: 43%;
    padding: 10px 0;
}

.social__info h4{
    padding: 10px 0 20px 0; 
}

.social__info p{
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #86878B;
}

.social__link{
    display: flex;
    justify-content: center;
}

.social__url{
    color: #CCCCCC;
    margin: 10px;
}

.fa-brands:hover,
.fa-solid:hover{
    transition: 0.5s;   
    transform: scale(1.4);
}

.tabs{
    display: flex;
    padding-top: 80px;
}

.tab__button{
    padding: 9px 75px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    text-transform: uppercase;
    background-color: white;
    border: none;
}

.tab__button--one{
    border: 1px solid #C6CBCD;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
    margin-bottom: -1px;
}

.tab__content{
    display: flex;
    border: 1px solid #C6CBCD;
}

.tab__content_left{
    margin: 0 30px 0 90px;
}

.tab__content_left p {
    padding: 15px 0 35px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    display: flex;
    align-items: center;
}


.tab__content_right-img img{
        width: 470px;
}

.awesome__card__circle__img-one{
    padding-top: 7px;
}

.awesome__card__circle__img-two{
    padding-top: 20px;
}

.awesome__card__circle__img-three{
    padding-top: 12px;
}

.tab__content__title{
    padding: 50px 0 70px 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.0rem;
    line-height: 4.1rem;
    display: flex;
    align-items: center;
}

.awesome__card{
/*     width: 370px; */
    width: 31.624%;
    text-align: center;
}

.awesome__content{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #000000;
    padding-bottom: 50px;
}

.awesome__card__circle__img{
    height: 92px;
    width: 92px;
    border: 1px solid #EC7979;
    border-radius: 50%;
    margin: 0 auto;
}

.awesome__card__title{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.3rem;
    text-transform: capitalize;
    color: #000000;
    padding: 50px 0 50px 0;
}


.what{
    padding-bottom: 70px;
}

.pricing_customer{
    padding: 30px 0 40px;
    background: #F5F5F5;
}

.pricing__title{
    text-align: center;
}

.pricing_content{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
/*     display: flex;
    justify-content: center;  */
    text-align: center ;
    padding: 10px 0 40px ;
    color: #86878B;
}
.pricing__wrap{
    display: flex;
    align-items: flex-end;
    margin-top: 35px;
    justify-content: space-around;
}

.pricing__card {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 2.1rem;
    color: #86878B;
    background: #FFFFFF;  
    border: 2px solid #F5F5F5;
/*     width: 370px; */
    width: 31.624%;
    text-align: center;
}

.pricing__card-top
{
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
    position: relative;
    top: -20px;
}

.pricing__card-title{
    background: #333333;
    border: 2px solid #F5F5F5;   
    padding: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 3.3rem;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    color: #FFFFFF;    
}

.pricing__card-price{
    background: #333333;
    border: 2px solid #F5F5F5;   
    padding: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 4.2rem;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    color: #FFFFFF;    
}

.pricing__card-name{
    background: #333333;
    border: 2px solid #F5F5F5;   
    padding: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    color: #FFFFFF;    
}

.pricing__card-item{
    border: 2px solid #F5F5F5;  
    padding: 20px; 
}

.customer__wrap{
    display: flex;
    justify-content: space-between;
}

.customer__card{
    padding-top: 10px;
/*     width: 370px; */
    width: 31.624%;
    position: relative;
}

.customer__card::before{
    content: "";
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 19px solid #E2E2E2;
    position: absolute;
    top: 166px;
    left: 58px;
}

.customer__card>p{
    background: #E2E2E2;
    border-radius: 10px; 
    padding: 38px 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    align-items: center;
    text-align: center;
    color: #86878B;
    position: relative;
}

.customer__sub__card{
    display: flex;
    margin-top: 50px;
}

.sub__card__img__circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.customer__subcard__name{
    font-family: 'Open Sans' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.3rem;
    display: block;
    padding-left:20px; 
}
.customer__subcard__name h3{
    padding: 15px 0px; 
}

.customer__subcard__name p{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #000000;
}

.pricing__title h2::before{
    position: absolute;
    content: ""; 
    background-color: #EC7979;
    height: 1px;
    width: 170px; 
/*     width: 14.53%; */
    bottom: 0;
    right: calc(50% - 85px);
    margin-bottom: 25px;
}

.stylish__logo{
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url("../img/stylish_bg.png"); 
}

.stylish__wrapper{
    padding: 30px;
}

.stylish__title-white{
    color: white;
    display: flex;
    flex-direction: column;
}

.stylish__title-white h2::before{
    background-color: white;
}

.stylish__title-white>a{
/*     width: 370px; */
    width: 31.624%;
    margin: 70px auto 0;
}

.contact__title__button{
    margin: 30px auto 50px;
}

.contact__form__wrapper{
    display: flex;
}

.contact__form-left,
.contact__form-right{
    padding: 0 10px;
    width: 48.9743%;
}

.footer__content{
    background: #000000;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.footer__content svg{
    fill: #CCCCCC;
    margin: 10px 20px;
    cursor: pointer;
}

.footer__content svg:hover{
    transition: 0.5s;
    transform: scale(1.4);
}

.footer__content__text{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    background: #000000;
    padding-bottom: 27px;
}


@media (max-width:1200px){
    html{
        font-size: 7.8px;
    }
    h2{
        font-size: 24px;
        line-height: 28px;
    }

    h3{
        font-size: 24px;
        line-height: 33px; 
    }

    h4{
        font-size: 18px;
        line-height: 21px;
    }
    .wrapper{
        max-width: 1024px;
    }
    .header__logo{
        margin-left: 0px;
    }

    h1{
        font-size: 36px;
        line-height: 42px;
    }
    .header__content,
    .banner__footer{
        padding-left: 100px;
        padding-right: 30px;
    }

    .banner__content{
        width: 57.2434%;
        padding-right: 30px;
    }
    .banner__content>a>img{
        width: 102px;
        height: 41px;
    }
    .banner__right{
        width: 45.2489%;
    }
    .banner__wrapper{
        padding: 150px 0 0 115px;
        justify-content: space-between;
    }
    
    h1::before{
        top: 493px;
    }
    .banner__content__description{
        font-size: 14px;
        line-height: 16px;
    }

    .banner__free{
        font-size: 18px;
        line-height: 25px;
    }
    .social__info{
        font-size: 14px;
        line-height: 16px;  
    }

    .tab__content_right-img img{
        width: 400px;
    }
    .tab__button{
        font-size: 1.8667rem;
    }
    .social__url{
        font-size: 1.4rem;
    }
}

@media (max-width:768px) {
    .navigation-list,
    .banner__content img,
    .tab__content_right-img{
        display: none;
    }
    h2{
        font-size: 24px;
        line-height: 28px;
        padding-top: 20px;
    }
    
    .banner__wrapper,
    .header__content{
        padding: 0;
        flex-wrap: wrap;
    }
    .banner__content{
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .banner__content__description::before{
        right: calc(50% - 90px);
    }    
 
    .banner__right{
        width: 100%;
        margin-top: 56px;
    }

    .banner__download{

    }

    .banner__right{
        margin-bottom: 50px;
    }
    .banner__content__info{
        padding: 0;
        width: 100%;
    }
    .banner__free{
        font-size: 14px;
        line-height: 19px;
    }
    .social__content .wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .social__info{
            width: 100%;
            margin-top: 20px;
    }

    .social__info p{
        text-align: center;
        padding-top: 20px;
    }
    .social__info h4 {
        padding: 0;
        text-align: center;
    }
   
    .social__link{
        padding-bottom: 20px;
    }
    .social__url{
        font-size: 6px;
    }
    .tab__button{
        padding: 9px 30px;
        font-size: 14px;
        line-height: 19px;
    }
    .tab__content_left{
        margin: 0;
        text-align: center;
    }
    .tab__content_left p{
        padding: 10px 0;
        font-size: 13px;
        line-height: 15px;
    }

    .tab__content__title{
        padding-bottom: 50px;
        text-align: center;

    }    
    .red_button{
        width: 80%;
        padding: 10px;
        margin: 0 30px 30px;
    }
    .pricing_content{
        font-size: 14px;
        line-height: 16px;
        padding-bottom: 0px;
    }
    .customer__wrap{
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .customer__card{
        display: none;
    }

    .customer__card:first-child{
        display: block;
    }
    
    .customer__card,
    .awesome__card,
    .contact__form-left,
    .contact__form-right
    {
        width: 100%;
        padding: 0;
    }
    .pricing__wrap{
        flex-wrap: wrap;
        margin: 0;
    }
    .pricing__card{
        width: 100%;
        margin-top: 24px;
    }

    .pricing__card-top
    {
        filter: none;
    }
    
    .pricing_content>.wrapper,
    .stylish__wrapper{
        padding: 0;
    }

    .contact__form__wrapper{
        flex-wrap: wrap;
        padding: 0;
    }

    .contact__form-right textarea{
        padding: 40px 0 150px 0;
    }
    .stylish__title-white>a {
        width: 100%;
        margin: 30px 0 58px;
    }

    .banner__content__description{
        justify-content:  center;
    }







    


  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 19px;
    margin-left: -40px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }


  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

/*   Открыть / закрыть меню */

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }


}