*{
    margin: 0;
    padding: 0;
    list-style: none;


}

.wrapper{

    width: 1170px;
}

.tab__list{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tab__item{
    margin-left: 30px;
    justify-content: flex-start;
}

.tab__item--one{
    border-radius: 6px;
    border: 1px solid #C6CBCD;
}
.content{
    border: 1px solid #C6CBCD;
    height: 10px;  
}