*{
    margin: 0;
    padding: 0;
    list-style: none;


}

.wrapper{
    margin: 0 auto;
    width: 1170px;
}

.tab__list{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tab__item{
    padding-left: 30px;
    justify-content: flex-start;
}

.tab__item--one{
    border-radius: 6px;
    border: 1px solid #C6CBCD;
}
.content{
    border: 1px solid #C6CBCD;
    height: 50px;  
}